@import '../../assets/Partials/mixins';

.nav {
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 10px 5% 10px 5%;

    &__left { display: flex; justify-content: center}
    &__right { 
        display: flex;
        flex-direction: column;

        > * { margin-bottom: 10px}
    }
    &__search { 
        padding: 15px; 
        height: 100%;
        width: 100%; 
        padding-left: 50px;
        border-radius: 5px;
        border: none;
        border: 1px solid lightgray;
    }

    &__search-container { 
        position: relative;
        flex-grow: 1;  
    }
    &__search-icon { 
        position: absolute; 
        top: 50%; 
        left: 0; 
        transform: translateY(-50%);
        padding: 0 20px;
    }
    &__upload-icon { 
        margin-right: 10px;
        transform: translateY(1px);
    }
    &__button { 
        width: 80%; 
        min-width: 143px;
        padding: 10px 0; 
        flex-grow: 1;
        margin-right: 5px;
        background-color: #0095FF;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;   
    }

    &__actions { display: flex }
    &__user { 
        height: 60px;
        width: 60px; 
        border-radius: 50%; 
        margin-left: 5px;
    }    
    > * { margin: 5px 0 }

    @include tablet {
        padding: 10px 2%;
        flex-direction: row;
        justify-content: space-between;

        &__right{ 
            flex-direction: row;
            flex-basis: 80%;
            justify-content: flex-end;
            > * { margin-bottom: 0 }
        }
        &__button { padding: 15px 30px }
        &__search-container { 
            margin: 0 20px;
            max-width: 250px; 
         }
    }
    @include desktop { padding: 0 10% }
}