@font-face {
    font-family: "Avenir";
    src: url("../font/AvenirNextProLT/alternate-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Light.ttf") format("truetype");
}

@font-face {
    font-family: "AvenirHeavy";
    src: url("../font/AvenirNextProLT/alternate-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Heavy.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "AvenirBold";
    src: url("../font/AvenirNextProLT/alternate-files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Bold.ttf") format("truetype");
    weight: 800;
}