@import '../../assets/Partials/mixins';

.video {
    &__main-container { 
        display: flex; 
        flex-direction: column; 
    }
    &__details { 
        padding: 5%;

        &--flex { 
            display: flex; 
            align-items: baseline;
        }
    }
    &__timestamp { margin-left: 10px }
    &__title { font-family: "AvenirHeavy" }
    &__stats-container {
        display: flex; 
        height: 30px;
    }
    &__stats { margin-right: 10px }
    &__stat-value { margin-left: 4px }
    &__stat-icon { transform: translateY(2px);}
    &__blurb { 
        display: flex; 
        align-items: baseline;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__details { 
        display: flex;
        flex-direction: column;
    }
    @include tablet {
        &__details { padding: 2% }
        &__blurb { flex-direction: row }
        // &__stats { padding-left: 10px }
        &__description { width: 70% }   
    }

    @include desktop {
        &__main-container { 
            flex-direction: row;
            padding: 0 10%;
        }
        &__details { padding:0 }
    }
}