@import '../../assets/Partials/mixins';

.nav {
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 10px 5% 10px 5%;
    border-bottom: 1px solid $light-silver;

    &__left { display: flex; justify-content: center}
    &__right { 
        display: flex;
        flex-direction: column;

        > * { margin-bottom: 10px}
    }
    
    &__logo { display: inherit }
    &__upload-text { color: $white }
    &__search { @include input-style{ padding-left: 50px } }

    &__search-container { 
        position: relative;
        flex-grow: 1;  
    }
    &__search-icon { 
        position: absolute; 
        top: 50%; 
        left: 0; 
        transform: translateY(-50%);
        padding: 0 20px;
    }
    &__upload-icon { 
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
    &__button { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-right: 5px;
        background-color: $lightest-blue;
        outline: none;
        border: none;
        border-radius: 5px;
        color: white;   
        font-size: 1.1rem;  
        cursor: pointer;
        &:hover { background-color: darken($lightest-blue, 10%) }
        > * { color: $white }
    }
    &__actions { display: flex }
    &__user { 
        height: 60px;
        width: 60px; 
        border-radius: 50%; 
        margin-left: 5px;
    }    
   
    > * { margin: 5px 0 }

    @include tablet {
        padding: 10px 2%;
        flex-direction: row;
        justify-content: space-between;

        &__right{ 
            flex-direction: row;
            flex-basis: 80%;
            justify-content: flex-end;
            > * { margin-bottom: 0 }
        }
        &__button { font-size: 1rem }
        &__search-container { 
            margin: 0 20px;
            max-width: 350px; 
        }
        &__upload-text { display: none }

        &__upload-icon { 
            margin-right: 0;
            margin: 0 15px;
            transform: translateY(3px);
        }
         
        @media screen and (min-width: 700px){
            &__upload-text { 
                display: inline-block;
                margin-right: 15px;
            }

            &__button { width: 150px;}
        }
    }
    @include desktop { padding: 15px 10% }
}